# Dependency directories
node_modules/

# Compiled output

out/

# IDE/Editor files
.vscode/
.idea/

# Logs and databases

*.sqlite

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript specific files
*.tsbuildinfo


# React specific files
yarn-error.log
